@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background: #0f172a;

}

.container{
    width:400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #e5e7eb;
    border-radius: 12px;
}

h1{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 0;
    margin-bottom: 8px;
    color: #e5e7eb;
    font-size: 50px;
}

.container p{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #0f172a;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 8px;
}

.container button{
    width: 100%;
    height: 50px;
    background: #0f172a;
    outline: 0;
    border: 0;
    color: #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0 , 0, 0);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #0f172a;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }

}

button:hover{
    background-color: aqua;
}

#downloadLink{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    background: #0f172a;
    outline: 0;
    border: 0;
    color: #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0 , 0, 0);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}
